<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <!--logDirectory указывает относительный путь к лог файлу-->
  <variable name="logDirectory" value="C:/appFolders/logs/${shortdate}.log"/>
  <!--layoutMessage указывает формат сообщений, котоые будут записываться в лог файл-->
  <variable name="layoutMessage" value="${longdate}|${uppercase:${level}}|${logger}|${message}"/>

  <targets>
    <target xsi:type="File" name="file" fileName="${logDirectory}"
            layout="${layoutMessage}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="file" />
  </rules>
</nlog>
